<!doctype html>
<html class="has-topbar has-bottombar">

<head>
    <meta charset="UTF-8">
    <title>乐贷帮</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="__PUBLIC__/home/css/mui.min.css" rel="stylesheet" />
    <link href="__PUBLIC__/home/css/lebansucce.min.css" rel="stylesheet" />
</head>

<body>
<div class="bannerBOX">
   <img src="__PUBLIC__/home/images/pay_qrcode.jpg" />
</div>
</body>
<script src="__PUBLIC__/home/js/mui.min.js"></script>
<script src="__PUBLIC__/home/js/jquery.min.js"></script>

</html>